.inputAutocomplete-container {

  position:relative;

  ul {

    position:absolute;
    top:100%;
    left:10px;
    padding:0 10px;
    border:1px solid #eaeaea;
    background-color:#fff;

    li {

      list-style-type:none;
      margin:5px 0;

    }

  }

}